.DS_Store
.vscode
.idea/*
*.iml

bin/*
etc/wsrelay.conf

# Ignore everything in vendor/, except for *.go files,
# LICENSE and COPYING. Ignore Go tests.
vendor/**/*
!vendor/**/
!vendor/**/*.go
!vendor/**/*.proto
!vendor/**/LICENSE*
!vendor/**/COPYING*
vendor/**/*_test.go

*~
\#*\#
.\#*

*.test
*.sw?
.tags
